[Unit]
Description=Keeps a tunnel to VPS for jupyter lab or notebook
After=network-online.target

[Service]
User=ilya
ExecStart=/usr/bin/autossh -R 8999:localhost:8988 user@vps -N -i /home/user/.ssh/id_rsa &
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
